body {
    background-color: #A846A0;
}

.navbar {
  background-color: #f6f8ff;
}

.navbar-brand {
    color: #23ce6b;
    font-family: 'Overpass Mono', monospace;
    font-size: 36px;
    font-weight: 600;
}

.messages {
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 50%;
}

.user-avatar {
    width: 32px;
    height: 32px;
}