/* Default styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A846A0;
    font-family: 'Overpass Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar styling */

.navbar {
  background-color: #23ce6b;
}

.navbar-brand {
    color: #f6f8ff;
    font-family: 'Overpass Mono', monospace;
    font-size: 28px;
    font-weight: 600;
}

a.navbar-brand:hover{
    color: #50514f;
}

.nav-link {
    color: #f6f8ff;
    font-size: 18px;
    font-weight: 600;
}

/* Hero container homepage */

.nav-link:hover{
    color: #50514f;
}

.hero-container {
    background-color: #272d2d;
    color: #f6f8ff;
}

.hero-container p {
    font-size: 18px;
}

/* Footer styling */

footer {
    background-color: #272d2d;
    margin-top: auto;
}

footer p {
    color:#23ce6b;
    font-weight: 600;
    letter-spacing: 1px;
}

footer a {
    color: #A846A0;
    font-size: 24px;
}

footer a:hover {
    color: #f6f8ff
}

/* Card styling articles page */

.article-card{
    background-color: #50514f;
    color: #f6f8ff;

}

.card-text{
    color: #f6f8ff;
}

.post-link{
    text-decoration: none;
}

.card-title{
    color: #23ce6b;
    font-weight: 600;
}

.card-text-bottom{
    color: #23ce6b;
    font-weight: bold;
    letter-spacing: 1px;
}

.author{
    color:#A846A0
}

/* Pagination styling */

.page-link{
    color: #A846A0;
    font-weight: bold;
}

.page-link:hover{
    color: #50514f;
}

/* Article detail page styling */

.card-text-detail{
    color: #272d2d;
    font-weight: 600;
}

.post-title{
    font-weight: 600;
    color: #A846A0;
}

.post-subtitle{
    color: #23ce6b;
    font-weight: 600;
}

/* Likes styling */

.btn-like{
    font-size: 24px;
    color: #A846A0;
}

/* Comments styling */

.fa-comments{
    font-size: 24px;
}

.comments h3{
    color: #23ce6b;
    font-weight: bold;
}

.comment-auth{
    color: #A846A0;
    font-weight: bold;
}

.posting-as{
    color: #A846A0;
    font-weight: bold;
}

#com-form{
    border: none;
}

/* Alert messaging styling */

.messages {
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 50%;
}

/* Sign up page styling */

.sign-up a{
    text-decoration: none;
    color: #f6f8ff;
}

.sign-up a:hover{
    color: #23ce6b;
}

/* Register page styling */

.register a {
    text-decoration: none;
    color: #f6f8ff;
}

.register a:hover {
    color: #23ce6b;
}

/* Media queries */

@media screen and (max-width: 541px) {
    
    .navbar-brand {
        display: none;
    }
}