{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="card mb-3">
        <img src=" {{ post.featured_image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-subtitle "><small class="text-body-secondary">{{ post.author }} | {{ post.created_on }}</small></p>
            <p class="card-text">{{ post.content | safe }}</p>

            <div class="row">
                <div class="col-1">
                    <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
                </div>
                <div class="col-1">
                    {% with comments.count as total_comments %} 
                    <strong class="text-secondary"><i class="far fa-comments"></i>
                        {{ total_comments }}</strong>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <h2>Comments:</h2>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class="text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <h2>Leave a Comment</h2>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>


















































{% endblock content %}