{% extends "base.html" %}

{% block content %}


<div class="card mb-3">
    <img src=" {{ post.featured_image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="card-text">{{ post.content | safe }}</p>
        <p class="post-subtitle"><small class="text-body-secondary">{{ post.author }} | {{ post.created_on }}</small></p>
    </div>
</div>




















































{% endblock content %}