{% extends "base.html" %}

{% block content %}

{% if user.is_staff %}
<div class="container-main-content p-4">
<h1>Delete Post</h1>

<p>Are you sure you want to delete {{ post.title}}?</p>

<form method="POST">
    {% csrf_token %}
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-dark">Cancel</a>
    <input type="submit" value="Delete" class="btn btn-danger"></input>
</form>
</div>

{% else %}
<div class="text-bg-secondary px-4 py-5 text-center">
    <div class="py-5">
        <div class="col-lg-6 mx-auto">
            <h3 class="access-denied">Sorry, access denied please log in first.</h3>
        </div>
    </div>
</div>
{% endif %}


{% endblock content %}